
@{
    ViewBag.Title = "adminPage";
}

<h2>adminPage</h2>

<button>@Html.ActionLink("Customer", "Index", "tblCustomers")</button>
<button> @Html.ActionLink("item", "Index", "tblItems")</button>
<button>@Html.ActionLink("Category", "Index", "tblCategories")</button>
<button>@Html.ActionLink("Order List", "Index", "tblOrders")</button>
<button>@Html.ActionLink("Order Detail", "Index", "tblOrderDetails")</button>
