@model PorjectMVC.Models.tblOrderDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblOrderDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblItem.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblItem.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblOrder.OrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblOrder.OrderId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DetialOrder }) |
    @Html.ActionLink("Back to List", "Index")
</p>
